@page
@using Microsoft.Extensions.Localization;
@using Pusula.InternManagement.Localization;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@model Pusula.InternManagement.Web.Pages.Interns.CreateModalModel
@inject IStringLocalizer<InternManagementResource> L
@{
    Layout = null;
}


<form method="post" id="CreateInternModal" asp-page="/Interns/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewIntern"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-tabs name="create-intern-modal-tabs">
                <abp-tab title="@L["Intern"]" class="mt-3">
                    <div id="intern-information-wrapper">
                        <abp-input asp-for="Intern.Name" label="@L["Name"]" />
                        <abp-input asp-for="Intern.PhoneNumber" label="@L["PhoneNumber"]" />
                        <abp-input asp-for="Intern.Email" label="@L["Email"]" />
                        <abp-input asp-for="Intern.StartDate" label="@L["StartDate"]" />
                        <abp-input asp-for="Intern.EndDate" label="@L["EndDate"]" />
                    </div>
                </abp-tab>
                <abp-tab title="@L["Department"]" class="mt-3">
                    <div id="departments-list-wrapper">
                        <abp-select asp-for="Intern.DepartmentId" label="@L["Department"]" />
                    </div>
                </abp-tab>
            </abp-tabs>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
